[submodule "libraries/EncButton"]
	path = libraries/EncButton
	url = https://github.com/GyverLibs/EncButton
[submodule "libraries/GyverOLED"]
	path = libraries/GyverOLED
	url = https://github.com/GyverLibs/GyverOLED
[submodule "libraries/microWire"]
	path = libraries/microWire
	url = https://github.com/GyverLibs/microWire
